./src/birdTraits_MIS.R
.DS_Store
data/2015_Scenario1.tif
data/0055274-241126133413365.zip
data/0134269-240321170329656.zip
data/combined_traits_data.csv
data/GBIF_mammal_30+occurrences_speciesTest.csv
data/GCAM_Demeter_LU_ssp1_rcp26_modelmean_2015.nc
data/MAMMALS_TERRESTRIAL_ONLY/IUCN Red List Terms and Conditions of Use.pdf
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.cpg
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.dbf
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.id_no.atx
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.prj
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.sbn
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.sbx
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.shp
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.shp2.xml
data/MAMMALS_TERRESTRIAL_ONLY/MAMMALS_TERRESTRIAL_ONLY.shx
data/MAMMALS_TERRESTRIAL_ONLY/METADATA_for_Digital_Distribution_Maps_of_The_IUCN_Red_List_of_Threatened_Species.pdf
.Rproj.user
